<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.guns.cinema.common.persistence.dao.MtimeHallFilmInfoTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cskaoyan.guns.cinema.common.persistence.model.MtimeHallFilmInfoT">
        <id column="UUID" property="uuid" />
        <result column="film_id" property="filmId" />
        <result column="film_name" property="filmName" />
        <result column="film_length" property="filmLength" />
        <result column="film_cats" property="filmCats" />
        <result column="film_language" property="filmLanguage" />
        <result column="film_type" property="filmType" />
        <result column="actors" property="actors" />
        <result column="img_address" property="imgAddress" />
    </resultMap>
    <sql id="Base_sql">
        UUID,film_id,film_name,film_length,film_cats,film_language,actors,img_address
    </sql>
    <select id="getFilmInfo" resultType="com.cskaoyan.guns.cinema.common.persistence.model.MtimeHallFilmInfoT">
        select i.film_id as filmId,i.film_name as filmName,i.film_length as filmLength,i.actors,i.film_cats as filmCats,i.film_language as filmType,i.img_address as imgAddress
        from mtime_hall_film_info_t i
        where film_id = #{id}
    </select>
    <select id="getFilmInfoByFieldId" resultType="com.cskaoyan.guns.cinema.common.persistence.model.MtimeHallFilmInfoT">
/*缺少fiesIds*/
          SELECT i.film_id as filmId,i.film_name as filmName,i.film_length as filmLength,i.actors,i.film_cats as filmCats,i.film_language as filmType,i.img_address as imgAddress
          from mtime_hall_film_info_t i
          LEFT JOIN mtime_field_t f
          ON f.film_id = i.UUID
          WHERE f.UUID = #{id}
    </select>

</mapper>
